<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Famm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F5276AB1BF2CDCF00D2E043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5276BF1BF2CDCF00D2E043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5276CA1BF2CDCF00D2E043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
